@model ImobPlus.Models.Demenagement

    <div class="container">

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="formulaire">
                <div class="title__titre--form">

                    <span>
                        <a href="@Url.Action("Index", "Construire")"><h2>Déménager</h2></a>
                    </span>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        @Html.TextBoxFor(model => model.NameDem, new { type = "text", placeholder = "Votre nom" })
                        @Html.ValidationMessageFor(model => model.NameDem, "", new { @class = "text-danger" })
                        @* <input type="text" placeholder="Votre nom">*@
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        @Html.TextBoxFor(model => model.EmailDem, new { type = "email", placeholder = "Adresse mail" })
                        @Html.ValidationMessageFor(model => model.EmailDem, "", new { @class = "text-danger" })
                        @* <input type="email" placeholder="Adresse mail">*@
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        @Html.TextBoxFor(model => model.DestinaDem, new { type = "text", placeholder = "Destination" })
                        @Html.ValidationMessageFor(model => model.DestinaDem, "", new { @class = "text-danger" })
                        @* <input type="text" placeholder="Destination">*@
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        @Html.TextBoxFor(model => model.LieuDepartDem, new { type = "text", placeholder = "Lieu de depart" })
                        @Html.ValidationMessageFor(model => model.LieuDepartDem, "", new { @class = "text-danger" })
                        @* <input type="text" placeholder="Lieu de depart">*@
                    </div>
                </div>

                @Html.TextAreaFor(m => m.MessagDem, new { placeholder = "Write..." , value="Bonjour chers agents de imob+ je souhaiterais demenager dans la nouvelle maison raison pour laquelle je vous contact donc merci de m'apporter votre aide  Cordialement" })
                @Html.ValidationMessageFor(m => m.MessagDem, "", new { @class = "text-danger" })

                @*<textarea></textarea>*@

                <input type="submit" value="Envoyer" class="btn-submit">
            </div>
        }
            @if (ViewBag.Message != null)
            {
                <p style="color:red;">@ViewBag.Message</p>
            }
    </div>

