@model ImobPlus.Models.Construire
@{
    ViewBag.Title = "Construire";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-10 list-location">
    <div class="title-page">
        <h3>Services/ Construire</h3>
    </div>
    <table>
        <th>Id</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Type construction</th>
        <th>Lieu</th>
        <th>Message</th>
        <th>Delete</th>

        @foreach (var item in ViewBag.Construire)
        {
            <tr>
                <td>@item.IdConstr</td>
                <td>@item.NameConst</td>
                <td>@item.EmailConst</td>
                <td>@item.TypeConst</td>
                <td>@item.LieuConst</td>
                <td>@item.MessageConst </td>
                <td>
                    <a href="~/Admin/DeletePostConstruire/@item.IdConstr">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">delete</button>
                    </a>
                </td>

            </tr>

        }


    </table>
    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div style="padding:20px">
                        <h6 class="modal-title" id="myModalLabel" style="font-weight:300; color:#FFB814; float:left">Suppression</h6>
                    </div>
                    <div class="modal-body">
                        <p>Voulez vous le supprimer ?</p>
                        <div class="row">
                            <button class="btn close">Non</button>
                            <button class="btn btn-danger">Oui</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
